@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(300%);
  }
}

.animate-loading {
  animation: loading 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}
